.App {
  text-align: center;
}
.App .Button {
  background-color: rgb(58, 83, 83);
  border: none;
  padding: 9px 22px;
  border-radius: 10px;
  box-shadow: 2px 3px 8px pink;
  outline: none;
  border: 4px solid green;
}
.App .Button:hover {
  background-color: rgb(8, 233, 195);
}

.App .Button.Red {
  background-color: red;
}
.App .Button.Red:hover {
  background-color: rgb(173, 33, 120);
}

.App .pink {
  color: rgb(224, 13, 207);
}
.App .bold {
  font-weight: bold;
}
.App .blue {
  color: blue;
}
/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
