.Person {
  background-color: rgb(134, 94, 129);
  width: 80%;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 10px 20px 40px rgb(42, 124, 124);
  margin: auto;
  border-radius: 20px;
}

input {
  max-width: 70%;
  height: 30px;
  background-color: rgb(67, 74, 88);
  border: none;
  outline: none;
  margin-bottom: 8px;
  border-radius: 10px;
  font-size: 20px;
  color: white;
}

@media (min-width: 700px) {
  .Person {
    background-color: red;
    width: 400px;
  }
}
